* {
    box-sizing: border-box;
    overflow: hidden;
}

.base {
    width: 1024px;
    height: 768px;
    background-color: black;
    margin: 0 auto;
}

header {
    width: 1024px;
    height: 65px;
    background-color: gold;
}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: silver;
    display: flex;
}

main {
    width: 215px;
    height: 100%;
    background-color: aquamarine
}

.main-header {
    width: 100%;
    background-color: #ff4b4b;
    height: calc(100% - 25px);
}

.main-footer {
    background-color: #ffaa00;
    width: 100%;
    height: 25px;
}

aside {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: #9d6100;
}

.aside-header {
    width: 100%;
    height: 29px;
    background-color: salmon;
}

.aside-footer {
    width: 100%;
    height: calc(100% - 29px);
    background-color: yellow
}

footer {
    width: 1024px;
    height: 20px;
    background-color: greenyellow;
}